//variables
$font-stack: Helvetica, Arial, sans-serif;
$white: #fffcfe; 
$grey: #424242; 
$darkgrey: #303030; 
$purple: #be24a3; 
$orange: #fc7844; 


%container_shared {
    display: flex; 
    flex-direction: column; 
    width: 90%; 
    margin: 5%; 
    border: 0.8px solid $grey; 
}

//styles
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: $font-stack; 
    text-align: center; 
    font-size: 1em; 
}

html, body, #root {
    height: 100%; 
}

.main {
    @extend  %container_shared;
    border: none; 
    justify-content: space around; 
    align-items: center; 

    & p, h4 {
    padding:0.5em; 
    }

    & .link {
        color: $purple; 
    }
}

.link {
    text-decoration: none; 
    color: inherit; 
    text-align: center; 
}

//Navbar

.navbar {
    min-height: 8%; 
    width: 100%; 
    background-color: $orange; 
    }

.nav_container {
      list-style: none; 
      display: flex; 
      flex-direction: row; 
      align-items: center; 
      justify-content: space-between; 
      padding: 1em 2em; 
    }

.nav_list {
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-around; 
    }

.nav_list li {
        padding: 0.5em; 
    
    & .link {
        color: $darkgrey; 
    }
}


//Headings

h1 {
    font-size: 1.5em; 
    padding: 10%;
    color: $darkgrey; 
}

//Home page 

.home{
  background-color: $orange; 
  height: 100%; 

 & h1 {
    font-size: 2em; 
    }

& .home_section{
    display: flex; 
 
    & div {
        flex-direction: column; 
        width: 100%; 
        padding: 1em 2em; 

        &.first_div {
            height: 60%;

            & h4 {
            padding-bottom: 1em; 
            font-size: 1.2em; 
            
        }
    }
        &.second_div {
            background-color: #e2e0de; 
            height: 40%; 

            & .link {
                font-weight: bold; 
                font-size: 1.2em; 
                color: $purple; 
            }
            
        }
    }
    &.text{
        display: flex; 
        height: 60%; 
        align-items:left; 
        flex-direction: column; 

        h4, p {
            text-align: left; 
        }
        p{
            line-height: 1.2em; 
            padding-bottom: 2em; 
        }
    }

    &.buttons {
        display: flex;
        flex-direction: row; 
    }
    }
} 

//Buttons

button {
    background-color: $white; 
    color: $grey; 
    border-color: $grey; 
    padding: 0.5em; 
    margin: 5%; 
    width: 200px; 

    &.hearing_button {
        align-self: center;  
    }
  }

//Schedule page 

.schedule_list {
    @extend %container_shared; 
}

.schedule_header {
    display: flex; 
    flex-direction: row; 
    padding: 0.5em; 
    align-items: center; 
    justify-content: center; 
    height: 30px; 
    font-size: 1.2em; 
}

.schedule_article {
    display: flex; 
    flex-direction: row; 
    min-height: 40px;  
}

.schedule_section {
    padding: 0.3em; 

    &.left_column {
        font-size: 0.8em; 
        width: 30%;
    }

    &.right_column {
        width: 70%;
        color: $purple; 
        text-decoration: underline; 
        }

    p {
        padding: inherit 0.5em; 
    }
}

//Form (add hearing)

.form {
    @extend %container_shared; 
    justify-content: space-around;
   
   & button {
       align-self: center; 
     }

   & .form_section {
    margin: 5%; 
    display: flex; 
    flex-direction: column; 

    label {
        text-align: left; 
        margin-bottom: 2%; 
    }

}

}

.select {
    width: 90%; 
    background-color: $white; 

    option {
        background-color: $white; 
    }
}

.input {
    width: 90%;
    position: relative;
    background-color: $white; 
}

.list {
 width: 90%; 
 list-style: none; 
 cursor: pointer; 
 border: 1px solid $grey; 
 border-top: 0; 

   & .list_item {
    padding: 0.5em; 

      &:hover{
        background-color: $purple; 
    }

    button {
        border: none; 
        background-color: inherit; 
        height: inherit; 
        margin: 0; 
        padding: 0.2em; 
    }
   }
 }


//Hearing details page
.hearing_container{
    @extend %container_shared; 

}

.hearing_section {
    display: flex; 

    &.first{
    flex-direction: row; 
    }

    &.second{
        flex-direction: column;
        justify-content: space-around; 
        padding: 1em; 
        min-height: 150px; 

    }
}

.hearing_left_column {
    padding: 1em; 
    width: 30%;
    
    & h4 {
        padding: 0.2em; 
    }
}

.hearing_right_column {
    padding: 1em; 
    width: 70%;

    & span{
        display: block; 
        text-align: left; 
        padding: 0.2em; 
    }
}

