//variables
$font-stack: Helvetica, Arial, sans-serif;
$white: #fffcfe; 
$grey: #424242; 
$darkgrey: #303030; 
$purple: #be24a3; 
$red: #f92a53; 
$green: #00AE65;

%container_shared {
    display: flex; 
    flex-direction: column; 
    width: 90%; 
    margin: 5%; 
    border: 0.8px solid $grey; 
}

//styles
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: $font-stack; 
    text-align: center; 
    font-size: 1em; 
}

html, body, #root {
    height: 100%; 
}

a, .link {
    text-decoration: none; 
    color: inherit; 
}

//Navbar

nav {
    min-height: 8%; 
    width: 100%; 
    background-color: $grey; 

    ul {
      list-style: none; 
      display: flex; 
      flex-direction: row; 
      align-items: center; 
      justify-content: space-between; 
      padding: 1em 2em; 
    }

    div.nav_list {
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-around; 
    }

    div.nav_list li {
        padding: 0.5em; 
    }

    a {
        color: $white; 
    }
}

//Headings

h1 {
    font-size: 1.5em; 
    padding: 0.5em; 
    color: $grey; 
}

//Home page 

.home_title{
    margin: 5%; 
    font-size: 2em; 
}

.home_section{
 display: flex; 
 flex-direction: column; 
 align-items: center; 
}

//Buttons

button {
    background-color: $white; 
    color: $grey; 
    border-color: $grey; 
    padding: 0.5em; 
    margin: 5%; 
    width: 200px; 

    &.hearing_section {
        align-self: center;  
    }
  }

//Schedule page 

.schedule_list {
    @extend %container_shared; 
}

.schedule_header {
    display: flex; 
    flex-direction: row; 
    padding: 0.5em; 
    align-items: center; 
    justify-content: center; 
    height: 30px; 
    font-size: 1.2em; 
}

.schedule_article {
    display: flex; 
    flex-direction: row; 
    min-height: 40px;  
}

.schedule_section {
    padding: 0.3em; 

    &.left_column {
        font-size: 0.8em; 
        width: 30%;
    }

    &.right_column {
        width: 70%;
        color: $purple; 
        text-decoration: underline; 
        }

    p {
        padding: inherit 0.5em; 
    }
}

//Form (add hearing)

.form {
    @extend %container_shared; 
    justify-content: center;
}

.form_section {
    margin: 5%; 
    display: flex; 
    flex-direction: column; 

    label {
        text-align: left; 
        margin-bottom: 2%; 
    }
}

//Hearing details page
.hearing_container{
    @extend %container_shared; 

}

.hearing_section {
    display: flex; 
    flex-direction: row; 
}

.hearing_left_column {
    padding: 1em; 
    width: 30%; 
    text-align: left;
}

.hearing_right_column {
    padding: 1em; 
    width: 70%;
    text-align: left; 
}

